.date-picker {
    -fx-base: #515A67;
    -fx-background:#515A67;
    -fx-background-radius: 11px;

    -fx-pref-height: 30px;
    -fx-pref-width: 200px;
    -fx-control-inner-background: #515A67;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 10.5%);

    -fx-font-family: 'Fira Sans';
    -fx-font-size: 15px;
    -fx-text-fill: #40444F;
}

.date-picker .cell {
    -fx-border-color: #515A67;
}
.date-picker .text-field {
    -fx-background-radius: 10 0 0 10;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #40444F;
}
.date-picker .arrow-button {
    -fx-background-color: #7497A7;
    -fx-background-radius: 0 10 10 0;
}
.date-picker .arrow-button .arrow {
    -fx-background-color:  -FONDO-OSCURO-PRIM;
}